<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<h1>
			{{ vm.event.name }}
		</h1>
		<h4 class="date">
			{{ vm.event.date }}
		</h4>
		<address class="address">
			{{ vm.event.addressLine1 }}
			<br />
			{{ vm.event.addressLine2 }}
			<br />
			<a target="_blank" class="btn btn-link" ng-href="{{ vm.event.mapUrl }}">map to location</a>
		</address>
		<p ng-show="vm.event.details" class="details">
			{{ vm.event.details }}
		</p>
		<div id="AssignmentsContainer">
			<h3>
				Assignments
			</h3>
			<div class="help-block">
				<small>
					Please enter your name in the text box next to the assignment you would like to take and hit the "take" button
				</small>
			</div>
			<table class="table table-striped">
				<tbody>
					<tr ng-repeat="a in vm.event.assignments | orderBy: 'name'">
						<td>
							{{ a.name }}
						</td>
						<td>
							<span ng-show="a.isAssigned" class="form-control-static input-sm">{{ a.assignedTo }}</span>
							<input class="form-control input-sm" ng-hide="a.isAssigned" ng-model="a.assignedTo" placeholder="Name..." />
						</td>
						<td>
							<button ng-hide="a.isAssigned" class="btn btn-sm btn-default" ng-click="vm.takeAssignment(a)">take</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>